h1,
p {
  font-family: Lato;
}

html,
body {
  padding: 0px;
  margin: 0px;
}

h2 {
  color: white;
}

input {
  margin-bottom: 5px;
}

form {
  padding: 5px;
}

input,
button {
  width: 100%;
  border: 0px;
  padding: 0px;
  background-color: lightgrey;
}

button {
  background-color: red;
}

p,
span {
  color: white;
}

img {
  width: 100px;
  height: 50px;
}

.main-content {
  background-color: black;
  height: 100vh;
  width: 100vw;
  padding: 10px;
}

.loginBody {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid white;
}

@media screen and (min-width: 350px) {
  .loginBody {
    margin: 0 auto;
    height: 100vh;
  }
  html,
  body {
    background-image: url('https://i.imgur.com/fqPQ9mQ.jpg');
    background-color: transparent;
  }
  .main-content {
    background-color: transparent;
  }
}
