h1,
p {
  font-family: Lato;
}

html,
body {
  padding: 0px;
  margin: 0px;
}

h2 {
  color: white;
}

input {
  margin-bottom: 5px;
}

input,
button {
  width: 100%;
}

p,
span {
  color: white;
}

img {
  width: 100px;
  height: 50px;
}

.main-content {
  background-color: black;
  height: 100vh;
  width: 100vw;
  padding: 10px;
}
